<%- include('header') -%>
<style media="screen">
  .img-fixed{
    width: 400px;
    height: 200px !important;
  }
</style>
<link rel="stylesheet" href="/css/bootstrap.css">
<%- include('nav')  -%>
<div class="container">
  <div class="row">
    <% slicedProducts.forEach(function(prod){ %>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="<%=prod.img%>" alt="<%=prod.name%>" class="img-fixed">
        <a href="/products" class="">
          <div>
            <span class="fh5co-meta">
              <%= prod.price %> L.E</span>
            <h2 class="fh5co-title">
              <%=prod.name%>
            </h2>
          </div>
        </a>
      </div>
    </div>
    <%  }) %>
  </div>
  </div>


<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<%- include('footer')  -%>
